<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dynamic profile page</title>
</head>
<body>
    <%-include('common/header'); %>

    <h2>hi! <%=user.name %>   </h2>
    <h3>Email: <%=user.email %> </h3>
    <h4>City: <%=user.city %> </h4>

    <ul>
      <% user.skills.forEach((item)=>{
        %>
        <li><%=item %></li>
       <%  })  %>


    </ul>
</body>
</html>